    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    .Total {
        height: 100vh;
        display: grid;
        background-color: var(--primary, #E7ECEF);
        grid-template-rows: 0.21fr 2fr 0.2fr;
        grid-template-areas: "Header" "Content" "Footer";
    }
    
    .AppHeader {
        background-color: #ffff;
        grid-area: Header;
        border-radius: 0px 0px 20px 20px;
    }
    
    .AppContent {
        background-color: var(--primary, #E7ECEF);
        grid-area: Content;
    }
    
    .AppFooter {
        background-color: #ffff;
        grid-area: Footer;
    }